.app {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(46, 50, 51);  
  color: white;
}

.nav-links {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}