* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 500px;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.801);
}

.section-center {
  background-color: black;
  width: 800px;
  max-height: 700px;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.section-center h1 {
  font-size: 40px;
}

.nav-container {
  text-align: center;
  width: inherit;
}

.nav-style {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: white;
}

.underlined {
  border-bottom: 5px solid white;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.textarea {
  width: 600px;
  margin-top: 20px;
  height: 100px;
  background-color: rgb(88, 86, 86);
  resize: none;
  color: white;
  border-radius: 5px;
}

.form-control {
  margin-top: 20px;
}
.input {
  background-color: rgb(88, 86, 86);
  width: 500px;
  height: 35px;
  color: white;
  border-radius: 5px;
}

.submit-btn {
  height: 35px;
  width: 90px;
  margin-left: 10px;
}

::-webkit-input-placeholder {color: white;}
